/* Navigation Bar */ 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

.navbar-default{
  border:none;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.9em;
  margin-top: 16px;
}

.logo p {
  text-decoration: none;
  font-family: "Fira Sans", "Roboto", sans-serif;
  color: #1f221a;
}

.upper-logo {
  font-weight: bolder;
  font-size: 2.3em;
}

.lower-logo  {
font-weight: 400;
font-size: 1.6em;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-links li {
  margin-left: 4em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a {
  font-family:  "Roboto", "Fira Sans", sans-serif;
  font-size: 1.9em;
  text-decoration: none;
  padding: 8px 12px;
}

li a {
  color: #1f221a;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 12px;
}

.sign-page {
  color: #1f221a;
}

.sign-page:hover {
  color: #1f221a;
  background-color: #1f221a30;
}

.welcome-page {
  color: #f5fbf9;
}

.welcome-page:hover {
  color: #f5fbf9;
  background-color: #f5fbf930;
}

.user-page {
  color: #f5fbf9;
}

.user-page:hover {
  color: #f5fbf9;
  background-color: #f5fbf930;
}

.edit-user-page {
  color: #f5fbf9;
}

.edit-user-page:hover {
  color: #f5fbf9;
  background-color: #f5fbf930;
}