.user-container {
    display: flex;
    height: 100vh;
    top: 50%;
    bottom: 50%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    flex: 1;
}

.user-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32em;
    height: 32em;
    max-width: 80vmin;
    max-height: 80vmin;
    background-color: #fdf6ea;
    border-radius: 1em;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.trips-box {
    overflow-y: auto;
    overflow-x: hidden;
}

.user-info {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    max-height: 100%;
    max-width: 100%;
    padding: 0.4em;
}

.user-photo {
    display: inline-block;
    position: relative;
    width: 4.8em; 
    height: 4.8em; 
    overflow: hidden; 
    border-radius: 10%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-right: 0.8em;
    min-width: 4.8em;

}

.circular {
    border-radius: 10%;
    height: 100%;
    width: auto;
}

.user-about {
    background-color: white;
    width: 90%;
    height: 50em;
}

.about-text {
    overflow: auto;
    overflow-wrap: break-word;
    padding: 0.4em;
    height: 100%;
}

.about-text p {
    font-family: "Fira Sans", "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    line-height: 1em;
    color: #2a3740;
    margin: 0.2em;
}

.user-form {
    max-height: 100%;
    max-width: 100%;
    padding: 0.5em 0 0 0;
    margin-top: auto;
}

.user-form span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 26.8em;
}

.user-form h1 {
    font-family: "Roboto", "Fira Sans", sans-serif; 
    font-size: 1.2em;
    font-weight: 400;
    font-style: italic;
    line-height: 1em;
    color: #2a3740;
    margin-top: 0.2em;
    width: 8em;
}

.user-box h2 {
    flex: 0;
    font-family: "Fira Sans", "Roboto", sans-serif;
    color: #1f221a;
    font-size: 2.5em;
    font-weight: 700;
}

.user-box h3 {
    font-family: "Fira Sans", "Roboto", sans-serif;
    color: #2a3740;
    font-size: 1.2em;
    font-weight: 400;
    font-style:italic;
    margin-top: 0.5em;
}

.user-box h4 {
    font-family: "Fira Sans", "Roboto", sans-serif;
    color: #1f221a;
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 0.5em;
}

.trips {
    flex: 7;
}

.trips-text {
    margin: 0.4em;
}

.field {
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    border: none;
    height: 2.2em;
    width: 100%;
    font-weight:600;
    size:auto; 
    text-align:center;
    resize: none;
    overflow-y: hidden;
    min-height: 2.2em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn input {
    display: flex;
    padding: 10px 20px;
    background-color: #2a3740;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 16em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn :hover {
    background-color: #1e272e;
    color: #fdf6ea;
}


.submit-btn {
    text-decoration: none;
    color: #fdf6ea;
    font-weight: 500;
    font-family:  "Roboto", "Fira Sans", sans-serif;
    font-size: 1em;
}

.error {
    font-family: "Roboto", "Fira Sans", sans-serif; 
    color: #ff0000;
    font-size: 0.9em;
    margin-top: 3em;
}

.trip-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 28em;
    height: 2.8em;
    padding: 0.5em;
    background-color: #eae3d6;
    border-radius: 6px;
    margin-bottom: 0.5em;
}

.trip-row a {
    color: #2a3740;
    font-family: "Fira Sans", "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 400;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.trip-name {
    text-align: left;
    justify-content: flex-start;
    overflow: hidden;
    max-width: 21em;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 4px;
}

.trip-name a {
    padding: 0.2em 0.4em;
}

.trip-delete {
    border-radius: 4px;
    display: flex;
    justify-content: flex-end; 
}

.trip-delete a {
    padding: 0.1em 0.3em;
    width: auto;
}

.trip-name :hover {
    text-decoration: none;
    background-color: #dcd5c8;
    color: #222c34;
    border-radius: 4px;
}

.trip-delete :hover {
    text-decoration: none;
    background-color: #e83b5e5a;
    color: #222c34;
    border-radius: 4px;
}

body {
    margin: 0;
    background-clip: border-box;
    background-repeat: no-repeat;;
    background-attachment: fixed;
    background-position-x: 0%;
    background-position-y: 35%;
    background-color: #a4b1b9;
    background-size: cover;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.user-currency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redirect-link {
    color: #2a3740;
    font-family: "Fira Sans", "Roboto", sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.1em 0.2em;
    margin-left: 1.5em;
}

.redirect-link:hover {
    text-decoration: none;
    background-color: #dcd5c8;
    color: #222c34;
    border-radius: 4px;
}
