
/* Welcome Page */
.welcome-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5fbf9;
    margin-top: 2em;
    user-select: none;
}

.welcome-main h1 {
    font-family: "Fira Sans", "Roboto", sans-serif;
    font-size: 5em;
    line-height: 0.9em;
}

.welcome-main h2 {
    font-family:  "Roboto", "Fira Sans", sans-serif;
    font-style: italic;
    margin-top: 25px;
    font-weight: 300;
}

.welcome-upper {
  font-weight: 400;
}

.welcome-lower {
    font-weight: 700;
}

body {
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 20%;
}

.btn{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn input {
    display: flex;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f5fbf9;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform:translateX(-50%);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    width: 14em;
}

.btn  :hover {
    background-color: #ececec;
    color: rgb(27, 33, 26);
}

.submit-btn {
    text-decoration: none;
    color: #1f221a;
    font-weight: 500;
    font-family:  "Roboto", "Fira Sans", sans-serif;
    font-size: 1em;
}
