<link rel="stylesheet" href="{{ url_for('static', filename='css/trip.css') }}">
<div class="component-row">
    <span class="component-name"><a onclick="changeEditedComponent({{component.id|tojson}})">{{ component }}</a></span>
    <span class="component-delete"><a id="delete" href="#" onclick="deleteComponentAndReload({{component.id|tojson}})">Delete</a></span> 
    <!--I call |tojson so JS knows it's safe and reload=false as I want to redirect-->
</div>
<script src="{{ url_for('static', filename='js/delete_scripts.js') }}"></script>
