{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trip.css') }}">
    <form class="trip-form" method="post">
        {{ form.hidden_tag() }}
            <div class="field-box">
                <a class="field-name">Name:</a>
                {{ form.component_name(size=32, class_=("field")) }}
                {% for error in form.component_name.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="field-box">
                <a class="field-name">Category:</a>
                {{ form.category_id(class_=("field")) }}
                {% for error in form.category_id.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="field-box">
                <a class="field-name">Type:</a>
                {{ form.type_id(class_=("field")) }}
                {% for error in form.type_id.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="field-box">
                <a class="field-name">Cost:</a>
                {{ form.base_cost(class_=("field")) }}
                {% for error in form.base_cost.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="field-box">
                <a class="field-name">Currency:</a>
                {{ form.currency(class_=("field")) }}
                {% for error in form.currency.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="field-box">
                <a class="field-name">Participant:</a>
                {{ form.participant_name(class_=("field")) }}
                {% for error in form.currency.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="field-box">
                <a class="field-name">Description:</a>
                {{ form.description(class_=("field"), style_=("height: 5em;")) }}
                {% for error in form.description.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="field-box">
                <a class="field-name">Link:</a>
                {{ form.link(class_=("field")) }}
                {% for error in form.link.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="field-box">
                <a class="field-name">Start date:</a>
                {{ form.start_date(class_=("field"), style_=("max-width:100%;")) }}
                {% for error in form.start_date.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="field-box">
                <a class="field-name">End date:</a>
                {{ form.end_date(class_=("field"), style_=("max-width:100%;")) }}
                {% for error in form.end_date.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
        <div class="btn">{{ form.submit(class_=("submit-btn")) }}</div>
    </form>
    <script> 
        // Script for dynamically updating the type select based on the category select
        let category_select = document.getElementById('category_id');
        let type_select = document.getElementById('type_id');

        // Function for updating
        function updateTypeSelect() {
            category_id = category_select.value;
            fetch('/type/' + category_id).then(function(response) {
                response.json().then(function(data) {
                    let optionHTML = '';
                    for (let type of data.types) {
                        optionHTML += '<option value="' + type[0] + '">' + type[1] + '</option>'; // type[0] is the id, type[1] is the name
                    }
                    type_select.innerHTML = optionHTML;
                });
            });
        };

        // Update type options when the category changes
        category_select.onchange = updateTypeSelect;
        
        // Trigger updateTypeOptions on page load to set a default type option
        if (!type_select.value || category_select.value) {
            window.onload = updateTypeSelect;
        }        
    </script>
{% endblock %}

<script src="{{ url_for('static', filename='js/delete_scripts.js') }}"></script>
