<table>
    <colgroup>
        <col style="width: 80%;">
        <col style="width: 20%;">
    </colgroup>
    <tr valign="top">
        <td class="trip-name">
            <a href="{{ url_for('trip', trip_id=trip.id) }}">{{ trip }}</a>   
        </td>
        <td class="trip-delete">
            <a href="#" onclick="deleteTrip(
            {{ trip.id|tojson }}, reload=true)">Delete trip</a> 
            <!--I call |tojson so JS knows it's safe and reload=false as I want to redirect-->
        </td>
    </tr>
</table>
<script src="{{ url_for('static', filename='js/delete_scripts.js') }}"></script>
