<table>
    <tr valign="top">
        <td>
            <a>{{ trip }}</a>
            <td>
                &emsp;<a href="{{ url_for('trip', trip_id=trip.id) }}">Edit</a>
            </td>
            <td>
                &emsp;<a href="#" onclick="deleteTrip(
                    {{ trip.id|tojson }}, reload=true)">Delete trip</a> 
                    <!--I call |tojson so JS knows it's safe and reload=false as I want to redirect-->
            </td>
        </td>
    </tr>
</table>
<script src="{{ url_for('static', filename='js/delete_scripts.js') }}"></script>
