{% extends "base.html" %}
{% set page_class = "user-page"%}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
    <body background="{{ url_for('static', filename='jpg/user.jpg') }}">
    <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.currency.label }}<br>
            {{ form.currency() }}<br>
            {% for error in form.currency.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(size=140) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}