{% extends "base.html" %}
{% set page_class = "trip-page" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trip.css') }}">
    <script src="{{ url_for('static', filename='js/delete_scripts.js') }}"></script>
    <body background="{{ url_for('static', filename='jpg/trip.jpg') }}">
    <div class="trip-container">
        <div class="half-column left-bar">
            <div class="components-list">
                {% for component in components %}
                    <div>
                        {% include '_component.html' %}
                        <!--  <iframe class="trip-box" src="{{url_for('component', component_id=component.id)}}">
                            Your browser does not support iframes.
                        </iframe> -->
                    </div>
                {% endfor %}
            </div>
            <div class="btn add-btn">
                <input class="submit-btn" type="button" value="Add new component" onclick="setNewEditedComponent({{ trip.id }})"></input>
            </div>
            <div class="participants">
                <h2>Participants</h2>
                <div class="participant-list">
                    {% for participant in participants %}
                        {% include '_participant.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="add-participant">
                {% include "_edit_participant.html" %}
            </div>
        </div>
        <div class="half-column">
            <div id="edit-component">
            </div>
        </div>
        <div class="column">
            <div class="dash-container">
                <iframe src="/dash/{{ trip.id }}" style="width:100%; height:80vh; border:none;"> <!-- Hardcoded because its a dash endpoint, not flask-->
                    Your browser does not support iframes.
                </iframe>
            </div>
        </div>
    </div>

{% endblock %}
