{% extends "base.html" %}

{% block content %}
    <h1>Trip: {{ trip.trip_name }}</h1>
    Cost: {{ trip.get_total_cost() }}
    <h2>Trip components</h2>
    {% for component in components %}
        {% include '_component.html' %}
    {% endfor %}
    <h2>Add component</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.component_name.label }}<br>
            {{ form.component_name(size=32) }}<br>
            {% for error in form.component_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.category_name.label }}<br>
            {{ form.category_name(size=32) }}<br>
            {% for error in form.category_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.type_name.label }}<br>
            {{ form.type_name(size=32) }}<br>
            {% for error in form.type_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.base_cost.label }}<br>
            {{ form.base_cost() }}<br>
            {% for error in form.base_cost.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.currency.label }}<br>
            {{ form.currency(size=1) }}<br>
            {% for error in form.currency.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(rows=4, cols=32) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.start_date.label }}<br>
            {{ form.start_date() }}<br>
            {% for error in form.start_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.end_date.label }}<br>
            {{ form.end_date() }}<br>
            {% for error in form.end_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}