{% extends "base.html" %}
{% set page_class = "user-page" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    <body background="{{ url_for('static', filename='jpg/user.jpg') }}">
    <div class="user-container">
        <div class="column"> 
            <div class="user-box">
                <div class="user-info">
                    <div class="user-photo">
                        <img class="circular" src="{{ user.avatar(size=128) }}">
                    </div>
                    <div class="user-name">
                        <h2>{{ user.username }}</h2>
                    </div>
                </div>
                <h3>About me:</h3>
                <div class="user-about">
                    <div class="about-text"><p>
                        {% if user.about_me %}
                            {{ user.about_me }}
                        {% else %}
                            No information provided
                        {% endif %}</p>
                    </div>
                </div>
                <div class="user-form">
                    {% if user == current_user %}
                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            <span>
                                <h1>Create a trip</h1>
                                {{ form.trip_name(size=32, class_=("field"), placeholder="Trip name") }}
                                {% for error in form.trip_name.errors %}
                                <span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </span>
                            <div class="btn">
                                {{ form.submit(class_=('submit-btn')) }}
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="user-box trips-box">
                <h2 class="trips-text">User's trips:</h2>
                <div class="trips">
                {% for trip in trips %}
                    {% include '_trip.html' %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}